.registerContainer {
  > div {
    width: 300px;
    height: 300px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
  }
}

.inputContainer {
  margin: 15px 0;
  font-size: 14px;
  > input {
    box-sizing: border-box;
    width: 100%;
  }
}
